<div class="container mx-auto mt-2 flex flex-row justify-center gap-11">
  <app-go-back-button></app-go-back-button>
  <app-show-details-button></app-show-details-button>
  <app-episodes-button></app-episodes-button>
  <app-cast-button></app-cast-button>
</div>
<h2 class="col-start-3 col-span-1 text-4xl font-extrabold text-center">
  Gallery
</h2>

<div class="container mx-auto flex flex-row flex-wrap gap-3 justify-center mt-5" *ngIf="showImage && showImage.length > 0">
    <div *ngFor="let image of showImage">
      <ng-container *ngIf="image.resolutions && image.resolutions.medium && image.resolutions.medium.url">
        <img [src]="image.resolutions.medium.url" [alt]="image.type">
      </ng-container>
    </div>
  </div>
  
  