<div class="container mx-auto mt-2 flex flex-row justify-center gap-11" id="#">
  <app-go-back-button></app-go-back-button>
  <a [routerLink]="['/details', showId]">
    <button
      type="button"
      class="focus:outline-none text-[#3c948b] bg-white hover:bg-[#f8f8f8] border-2 border-[#3c948b] focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 hover:ease-in duration-150"
    >
      Details
    </button>
  </a>
  <a [routerLink]="['/cast', showId]">
    <button
      type="button"
      class="focus:outline-none text-[#3c948b] bg-white hover:bg-[#f8f8f8] border-2 border-[#3c948b] focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 hover:ease-in duration-150"
    >
      Cast
    </button>
  </a>
  <a [routerLink]="['/gallery', showId]">
    <button
      type="button"
      class="focus:outline-none text-[#3c948b] bg-white hover:bg-[#f8f8f8] border-2 border-[#3c948b] focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 hover:ease-in duration-150"
    >
      Gallery
    </button>
  </a>
</div>
<h2 class="col-start-3 col-span-1 text-4xl font-extrabold text-center">
  Episodes List
</h2>
<div class="grid grid-cols-5 mt-3">
  <div *ngFor="let episode of showEpisodes" class="col-span-3 col-start-2 mb-3">
    <div
      class="flex flex-row items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <img [src]="episode.image.medium" class="m-3 rounded-lg w-fit" />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          S{{ episode.season }}E{{ episode.number }}
        </p>
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ episode.name }}
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{ episode.summary }}
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Rating: {{ episode.rating.average }}
        </p>
      </div>
    </div>
  </div>
</div>
