<div class="container mx-auto mt-auto flex flex-col items-center justify-center h-screen">
  <h1 class="mb-4 text-9xl font-extrabold text-[#3c948b]">
    TVmaze
  </h1>
  <h2 class="text-4xl font-semibold text-gray-500">
    Your TV show database
  </h2>
  <div class="inline-flex rounded-md shadow-sm mt-3" role="group">
    <button type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-[#3c948b] " [routerLink]="'/searchpeople'">
      Search Actors
    </button>
    <button type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-[#3c948b] " [routerLink]="'/searchshow'">
      Search Shows
    </button>
  </div>
</div>