<div class="container mx-auto mt-2 flex flex-row justify-center gap-11">
    <app-go-back-button></app-go-back-button>
    <h2 class="col-start-3 col-span-1 text-4xl font-extrabold">
        Cast
    </h2>
</div>

<div class="container mt-3 mx-auto flex flex-row flex-wrap gap-1 justify-center">
  <div *ngFor="let cast of showCast">
    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <img class="rounded-md mx-auto mt-1" [src]="cast.character.image.medium" alt="" />
      <div class="p-2">
          <div class="container flex flex-col text-center">
              <h5
                class="mb-1 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
               {{cast.person.name}}
              </h5>
              <p class="pb-1">
                as {{cast.character.name}}
              </p>
          </div>
        
      </div>
    </div>
  </div>
</div>
