<div class="container mx-auto mt-2">
    <app-go-back-button></app-go-back-button>
</div>

<div class="container mt-3 mx-auto flex flex-row flex-wrap gap-1 justify-center">
  <div *ngFor="let cast of showCast">
    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <img class="rounded-md mx-auto mt-1" [src]="cast.person.image.medium" alt="" />
      <div class="p-2">
          <div class="container flex flex-col text-center">
              <h5
                class="mb-1 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
               {{cast.person.name}}
              </h5>
              <p class="pb-1">
                as {{cast.character.name}}
              </p>
          </div>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Here are the biggest enterprise technology acquisitions of 2021 so
          far, in reverse chronological order.
        </p>
        
      </div>
    </div>
  </div>
</div>
