<div class="container mx-auto mt-3">
    <h2 class="text-2xl font-semibold text-gray-500 mb-3">
        Search people
    </h2>
    <form>
      <label
        for="default-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
        >Search</label
      >
      <div class="relative">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          [(ngModel)]="query"
          name="query"
          type="search"
          id="default-search"
          class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50"
          placeholder="Insert actor name here..."
          required
        />
        <button
          (click)="searchPeople(query)"
          type="submit"
          class="text-white absolute right-2.5 bottom-2.5 bg-[#3c948b]   font-medium rounded-lg text-sm px-4 py-2 dark:bg-[#3c948b]"
        >
          Search
        </button>
      </div>
    </form>


  <div  class="grid grid-cols-3 gap-3 mt-4">
    <div *ngFor="let person of people">
      <a [routerLink]="'/people/' + person?.person?.id">
        <div class="flex items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
          <img
            [src]="person.person.image?.medium"
            class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
          />
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              {{ person.person.name }}
            </h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>